body {
  text-align: center;
  margin-bottom: 100px;
}

header {
  padding-top: 80px;
  padding-bottom: 50px;
}

h1{
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: bold;
  line-height: 100%
}

.text {
  white-space: pre-wrap;
  font-family: "Fira Code", monospace;
  font-size: 28px;
  margin-bottom: 100px;
  color: #d8d8d8;
}

#leftbutton{
  margin-right: 100px;
}

.white {
  color: white;
}

.pink{
  color: #F72585;
}
