body {
  background-color: black;
  justify-content: center;
  height: 100vh;
}

header {
  padding-top: 80px;
  padding-bottom: 50px;
}

h1{
  font-family: "Montserrat";
  font-size: 9vh;
  font-weight: bold;
  line-height: 100%
}

.innerbox{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  white-space: pre-wrap;
  font-family: "Fira Code", monospace;
  font-size: 2.25vh;
  margin-bottom: 100px;
  color: #d8d8d8;
}

#leftbutton{
  margin-right: 100px;
}

.white {
  color: white;
}

.pink{
  color: #F72585;
}
