video {
    display: none;
}

#disp {
    white-space: pre-wrap;
    display: block;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 7px;
    color: white
}

.video-container {
    
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}