.card {
    height: 12vh;
    width: 100%;
    
    margin-top: 3vh;
    margin-bottom: 3vh;

    text-align: center;
    justify-content: center;

    background-color: #979797;
    border-radius: 20px;
    
    flex-grow: 1;
}
