.title{
    text-align: center;
    font-family: "Montserrat";
    font-size: 9vh;
    font-weight: bold;


    color: white;
    background-color: #0C0C0C;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mainContainer{
    padding: 2vw;
    height: 90vh;
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.smallContainer{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: flex-start;

    background-color: #0C0C0C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
    background-color: blue;

    padding-left: 2vw;
    padding-right: 2vw;

    background-color: #0C0C0C;
    border-bottom-left-radius: 20px;
}
.pictureContainer{
    flex-grow: 1;
    color: white;
    justify-content: center;

    background-color: #0C0C0C;
    border-bottom-right-radius: 20px;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
