.title{
    text-align: center;
    font-family: "Montserrat";
    padding-top: 180px;
    font-size: 45px;
    color: white;
}
.mainContainer{
    padding: 15px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
