.title{
    text-align: center;
    font-family: "Montserrat";

    font-size: 45px;
    color: white;
    background-color: #0C0C0C;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mainContainer{
    padding: 15px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0C0C0C;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

